:root {
    --gris-oscuro: #666;
    --verde: #519e5b;
    --verde-claro: #6af24f;
    --black: #000;
    --white: #ffffff;

    --font-family: 'Roboto', sans-serif;
    --size-cuerpo: 12px;
    --size-titulares: 24px;
    --size-precios: 18px;
    --size-descuentos: 16px;
    --size-descripcion: 16px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}


/* .form-validationError {
    font-size: 11px;
    display: block;
    color: red;
    border: 0px;
    padding: 5%;
}

.input-error {
    border: 1px solid red;
}

.is-valid {
    background-color: #43a63680;
}

.is-invalid {
    background-color: #e9263641;
}

.alert-warning {
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
} */

/* @media (max-width: 720px) {
    header, .top-header, .search, .menu ul {
        align-items: center;
        flex-direction: column;
    }   
} */
